<style type="type/css">
<!--

BODY {background-color: #FFFFFF; color: #000000; font-family: verdana; font-size: 8pt; margin-left: 1cm; margin-top: 1cm}
TD {font-size: 8pt; font-family: verdana; color: #000000; vertical-align: top; padding-left: 10; padding-right: 10; padding-top: 3; padding-bottom: 3}
A:link {color: #000000; font-decoration: underline}
A:visited {color: #666666; font-decoration: underline}
A:hover {color: #3366CC; font-decoration: underline}


-->
</style>